<link rel="stylesheet" href="../css/partials.css"/>
<aside class="sidebar">
    <div class="panel">
      <div class="author">
        <div class="author__avatar">
          <img src="../assets/portrait.jpg" alt="Your avatar">
        </div>
        <div class="author__content">
          <h3 class="author__name" style="font-size:1.6rem; line-height:1.2;">Zilong Zhao</h3>
          <p class="author__bio"> Reaserch Assistant SMART LAB University of Alberta</p>
        </div>
      </div>
  
      <div class="author__urls-wrapper">
        <button class="author__toggle" type="button" data-toggle-urls>
          Links <span aria-hidden="true">▾</span>
        </button>
        <ul class="author__urls" aria-label="Social links" data-open="false">
          <br></br>
          <li><a href="mailto:purpledragon.robotic@gmail.com"> Email</a></li>
          <li><a href="https://wa.me/8257770425" target="_blank" rel="noopener">WhatsApp</a></li>
          <li><a href="https://www.linkedin.com/in/zilong-zhao-239047305" target="_blank" rel="noopener">LinkedIn</a></li>
          <li><a href="https://github.com/purpledragon-ca" target="_blank" rel="noopener">GitHub</a></li>
        </ul>
      </div>
    </div>
  
    <!-- 你还可以在侧边栏继续放其它小卡片 -->
    <!-- <div class="panel" style="margin-top:12px">
      <h4>Now</h4>
      <p>Prototyping a vision-based mobile robot.</p>
    </div> -->
  </aside>
  